@mixin container-service-grid-content() {
    flex-wrap: wrap;
    margin-top: calc(1.5rem*-.1);
    margin-right: calc(1.5rem*-.5);
    margin-left: calc(1.5rem*-.5);
}

@mixin container-card-skill-box() {
    padding: 170px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    background-image: url("https://janna-react.vercel.app/images/service-01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none !important;
    margin: 0 12px;
}

@mixin container-services-icon() {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: #0788ff;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}

@mixin container-card-footer-service() {
    padding-top: 14px;
    padding-bottom: 9px;
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    z-index: 1;
}