.image-modal-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: transparent;

    img {
        max-width: 90%;
        max-height: 90%;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    }

    .close-btn {
        position: absolute;
        top: 16px;
        right: 16px;
        color: white;
        background-color: rgba(0, 0, 0, .5);
    }
}
